body{
	color: rgb(80,90,163);
	font-family: 'Josefin Sans', sans-serif;
}
.main-container{
	padding-top: 40px;
}
.main-container h2{
	margin-bottom: 45px;
}
.main-container h4{
	margin-bottom: 25px;
}
.content-row{
	margin-bottom: 50px;
}
.separator{
	margin: 5px 0 20px;
    border-bottom: 1px dashed #c1c2c3;
}
.btn-primario{
	background-color: rgba(235,125,77,1);
	color: rgb(255,255,255);
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	font-weight: 700;
	margin-top: 15px;
}
.btn-primario:active, .btn-primario:focus{
	box-shadow: none;
}
.btn-secundario{
	background-color: rgba(239,243,247,1);
	color: rgb(80,90,163);
	font-size: 16px; 
	padding-top: 23px;
	padding-bottom: 23px;
	font-weight: 700;
	margin-top: 15px;
}
.btn-secundario:active, .btn-secundario:focus{
	box-shadow: none;
}
.close{
	font-size: 12px;
    position: absolute;
    right: 10px;
    top: -20px;
    color: white;
    opacity: 1;
    font-weight: 100;
}
.modal-header{
	height: 63px;
}
.modal-title span{
	color: rgb(80,90,163);
	cursor: pointer;
}
.content-modal{
	padding: 5px 40px;
	min-height: 300px;
	margin-bottom: 40px;
}
.content-modal h3{
	margin-bottom: 25px;
}
.image-bank{
	border-radius: 7px;
	border: 1px solid rgb(217, 219, 220);
	cursor: pointer;
	transition: all 1s;
	margin-top: 20px;
}
.image-bank:hover{
	border-color: rgba(235,125,77,1);
}
.image-bank img{
	max-height: 70px;
	width: auto;
	margin: 15px 0;
}
.bankSelected img{
	max-height: 90px;
	width: auto;
	margin: 15px 0;
}
.content-modal .btn-primario{
	margin-top: 30px;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}
.content-modal .btn-secundario{
	margin-top: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 11px;
}
.form-control{
	color: rgb(80,99,136);
	background-color: rgb(243,247,247);
	border: none;
}
.form-control:focus, .form-control:active {
	color: #495057;
	background-color: rgb(243,247,247);
	border: 1px solid;
	border-color: rgba(235,125,77,1);
	outline: 0;
	box-shadow: none;
}
.form-group label{
	color: rgb(191,191,191);
}
.form-check svg{
	color: rgb(191,191,191);
}
.loadingRow, .completeRow, .failureRow, .confirmRow{
	min-height: 300px;
}
.completeRow, .failureRow, .confirmRow{
	color: rgb(191,191,191);
}
.loadingRow p{
	font-size: 18px;
}
.completeRow img, .failureRow img{
	margin-bottom: 10px;
	width: 150px;
}
#imgSuccess, #messageSuccess, #imgFailure, #messageFailure{
	display: none
}
#myProgress {
    width: 100%;
    background-color: rgb(100,114,146);
    border-radius: 10px;
}
#myBar {
    width: 1%;
    height: 10px;
    background-color: rgba(235,125,77,1);
    border-radius: 10px;
}
#part_2, #part_3, #part_4, #part_5, #part_6 {
	display: none
}
#backButton{
	display: none;
}
.itensAllow{
	margin-top: 30px;
}
.itensAllow img{
	margin-top: 15px;
}